body{

    background: lightblue;
    border: 1px solid black;
    margin: 20px 15px 10px;
    border-radius: 5px;
    text-align: center;

}

#main-header{

    border: solid 2px #747b79;
    padding: 5px;
    margin: 5px;
    background-color: #9c9f84;
    text-align: center;

}
#header-right-main {

    border: solid 2px #747b79;
    padding: 5px;
    background-color: #2e134b;

    }
#main-header nav{
    background-color: rgba(89, 76, 11, 0.99);
    text-align: center;
    border: solid 2px #747b79;
    padding: 5px;

}
#left-section {

    background-color: #56c6ff;
    border-section: 5px;
    float: left;
    width: 26%;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#nav-left {

    height: 383px;
    padding:5px;
    border: solid 2px #747b79;
    text-align: center;
    background-color: #ff1af9;

}

#right-section {
    border-section: 5px;
    float: right;
    width: 70%;
    margin: 5px;
    background-color: #614361;
    text-align: center;
}

p.green{

    color: green;
    background-color: #233e47;
    border: solid 2px #747b79;
    font-size: 15px;
    /*float: left;*/

    height: 50px;
    padding: 5px;
}


p.blue{

    color: blue;
    background-color: #26ffa9;
    border: solid 2px #747b79;
    font-size: 15px;
    padding: 5px;
    float: left;
    height: 50px;
    width: 60%;
}
.article {

    background-color: #26ffa9;
    border: solid 2px #747b79;
}
#aside {

    float: left;
    width: 32%;
    height: 50px;
    background-color: #472b38;
    border: solid 2px #747b79;
    margin:  15px;

}

#right-section header {

    background-color: #28ff6f;

}
.article {

    background-color: #5d4d0a;
    border: solid 2px #747b79;
    padding: 5px;
    margin-top: 5px;

}
#article1 header {

    border: 1px solid black;
    color: green;
    font-size: 20px;
}
#right-section header {

    background-color: #41f5ff;
}


#main-footer {
    clear: both;
    background-color: #ff2ef2;
    border: 1px solid black;
    font-size: 12px;

}
footer.footer1 {

    color: red;

    height: 20px;
    background-color: #ff3445;
    border: solid 2px #747b79;
    padding: 5px;
    margin-top: 5px;

}
footer.footer2 {

    color: red;
    background-color: white;
    border: 1px solid black;
    font-size: 12px;

}
footer.footer3 {

    border: solid 2px #747b79;
    padding: 5px;
    color: red;
    background-color: white;
    font-size: 12px;
    clear: both;

}